#map {
    height: 400px;
    width: 100%;
}

body {
    font-family: Orbitron;
}

#header {
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

#footer {
    text-align: center;
}

.row {
    text-align: center;
    margin: 2%
}

.col {
    margin: 1%;
}

div {
    text-align: center;
}
